---
import { Image } from "astro:assets";
import picker from "../assets/picker.png";
import piano from "../assets/piano.jpg";
import linkedin from "../assets/linkedin.png";
import github from "../assets/github.png";
---

<main>
  <section id="aboutme1">
    <Image src={picker} alt="picker" width="474" height="333" id="picker" />
    <Image src={piano} alt="piano" width="700" height="550" id="piano" />
    <div class="content">
      <h2>Hi, I’m Owen.</h2>
      <h3>a Front-end focused Full-Stack Developer.</h3>
      <p>
        Before transitioning into tech, I worked as a professional opera tenor,
        an experience that honed my discipline, creativity, and ability to
        perform under pressure. I’ve always loved the stage—it’s a carefully
        crafted presentation designed to bring beauty to an audience. Now, I
        aspire to bring that same sense of artistry to digital products,
        creating experiences that delight and serve users. I’m grateful for my
        musical background, which has sharpened my intuition for understanding
        what resonates with people.
      </p>
    </div>
  </section>
  <section id="aboutme2">
    <div class="skills">
      <div class="skillsBento">
        <div class="item1">
          <img
            src="/icons/js.png"
            alt="icon of javascript"
            width="64"
            height="64"
          />
          <img
            src="/icons/ts.png"
            alt="icon of typescript"
            width="64"
            height="64"
          />
          <img
            src="/icons/react.png"
            alt="icon of react"
            width="64"
            height="64"
          />
          <img
            src="/icons/react-native-logo.png"
            alt="icon of react native"
            width="64"
            height="64"
          />
          <img
            src="/icons/swiftUI.png"
            alt="icon of swiftui"
            width="64"
            height="64"
          />
          <img
            src="/icons/nextjs.jpeg"
            alt="icon of nextjs"
            width="64"
            height="64"
          />
          <img
            src="/icons/astro-logo-dark.svg"
            alt="icon of nextjs"
            width="128"
            height="64"
          />
          <img
            src="/icons/PHP_Logo.png"
            alt="icon of nextjs"
            width="128"
            height="64"
          />
        </div>
        <div class="item2">
          <img
            src="/icons/nodejs.png"
            alt="icon of nodejs"
            width="128"
            height="128"
          />
          <img
            id="expressjs"
            src="/icons/expressjs.webp"
            alt="icon of expressjs"
            width="128"
            height="128"
          />
          <img
            src="/icons/mysql.svg"
            alt="icon of mysql"
            width="128"
            height="128"
          />
          <img
            src="/icons/mongodb.svg"
            alt="icon of mongodb"
            width="128"
            height="128"
          />
        </div>
        <div class="item3">
          <img
            id="tailwindcss"
            src="/icons/tailwind-css-seeklogo.svg"
            alt="icon of tailwindcss"
            width="128"
            height="128"
          />
          <img
            src="/icons/Shadcn.jpg"
            alt="icon of shadcn"
            width="128"
            height="128"
          />
          <img
            src="/icons/sass.png"
            alt="icon of sass"
            width="64"
            height="64"
          />
        </div>
        <div class="item4">
          <img
            src="/icons/wordpress-logo.svg"
            alt="icon of wordpress"
            width="64"
            height="64"
          />
          <img
            src="/icons/elementor.png"
            alt="icon of elementor"
            width="64"
            height="64"
          />
        </div>
        <div class="item5">
          <img
            src="/icons/figma.png"
            alt="icon of figma"
            width="64"
            height="64"
          />
          <img
            src="/icons/adobe-photoshop-seeklogo.svg"
            alt="icon of figma"
            width="64"
            height="64"
          />
          <img
            src="/icons/Illustrator.png"
            alt="icon of illustrator"
            width="64"
            height="64"
          />
        </div>
      </div>
      <div class="content">
        <h2>Technology with Purpose</h2>
        <hr class="decorationLine" />
        <p>
          I am a self-driven developer, energized by exploring new technologies
          and excited to apply them. I see technology as a tool to solve real
          problems, and I strive to implement the most effective solutions.
          Passionate about bridging the gap between technology and product, I
          aim to create meaningful and practical outcomes through my work.
        </p>
      </div>
    </div>
  </section>
  <section id="aboutme3">
    <div class="desert-bg">
      <svg viewBox="0 0 1000 600" class="path">
        <path
          d="M 0 420 C 200 320, 400 520, 700 370 S 1100 420, 1300 300"
          stroke="rgba(255,255,255,0.5)"
          stroke-width="12"
          fill="none"
          stroke-linecap="round"
        >
        </path>
      </svg>
      <div class="products">
        <h2>Aesthetic & Function in Harmony</h2>
        <hr class="decorationLine" />
        <p>
          The product is more about providing delightful experiences. When users
          browse a website or use an app, I strive to offer them the perfect
          balance between aesthetics and functionality—just like performing on
          stage, where every note must hit at the perfect moment. Similarly,
          every feature should appear exactly when the user needs it. As a
          designer, I also aim to enhance the experience through beautiful
          elements.
        </p>
      </div>
    </div>
  </section>
  <section id="aboutme4">
    <div class="aboutme4-container">
      <div class="aboutme4-me">
        <div class="aboutme4-me-top">
          <h3>Owen Ouyang</h3>
          <div class="title-with-icon">
            <svg
              class="icon"
              viewBox="0 0 1024 1024"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
            >
              <path
                d="M320 768c12.8-12.8 32-12.8 44.8 0l134.4 128c12.8 12.8 12.8 32 0 44.8-12.8 12.8-32 12.8-44.8 0l-134.4-128c-6.4-12.8-12.8-32 0-44.8z"
                p-id="5716"></path>
              <path
                d="M320 768l128-140.8c12.8-12.8 32-12.8 44.8 0 12.8 12.8 12.8 32 0 44.8l-128 140.8c-12.8 12.8-32 12.8-44.8 0-6.4-12.8-12.8-32 0-44.8zM972.8 787.2c-12.8-12.8-32-12.8-38.4 0l-128 121.6c-12.8 12.8-12.8 32 0 44.8 12.8 12.8 32 12.8 38.4 0l128-121.6c12.8-12.8 12.8-32 0-44.8z"
                p-id="5717"></path>
              <path
                d="M972.8 787.2l-115.2-134.4c-12.8-12.8-32-12.8-38.4 0-12.8 12.8-12.8 32 0 44.8l115.2 134.4c12.8 12.8 32 12.8 38.4 0 12.8-12.8 12.8-32 0-44.8zM768 537.6c12.8 6.4 25.6 25.6 12.8 44.8l-172.8 409.6c-6.4 19.2-25.6 25.6-38.4 19.2-12.8-6.4-25.6-25.6-12.8-44.8l172.8-409.6c6.4-19.2 25.6-25.6 38.4-19.2zM659.2 268.8c0-140.8-108.8-256-249.6-256-134.4 0-249.6 115.2-249.6 256 0 89.6 44.8 172.8 115.2 217.6-140.8 57.6-243.2 192-243.2 358.4 0 19.2 0 57.6 6.4 64H192c19.2 0 32-12.8 32-32s-12.8-32-32-32H102.4c0-179.2 140.8-320 307.2-320 57.6 0 108.8 19.2 153.6 44.8l38.4-51.2c-12.8-6.4-32-19.2-57.6-32 70.4-44.8 115.2-121.6 115.2-217.6z m-428.8 0c0-108.8 83.2-192 185.6-192 102.4 0 185.6 83.2 185.6 192s-83.2 192-185.6 192c-102.4 0-185.6-83.2-185.6-192z"
                p-id="5718"></path>
            </svg>
            <p>Front-end focused Full-Stack Developer</p>
          </div>
          <div class="title-with-icon">
            <svg
              class="icon"
              viewBox="0 0 1024 1024"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
            >
              <path
                d="M918.3 587.4l-88.7-88.7c-4.4-4.4-10.3-6.7-16.1-6.7-5.8 0-11.6 2.3-16.1 6.7L523.1 772.9c-3.3 3.3-5.3 7.5-6.3 11.7h-0.1l-16.6 116.2h-0.2l0.1 0.7-1.7 11.9c-0.3 0.9-0.5 1.8-0.5 2.7 0 3.6 2.6 6.4 6.2 6.9v0.3l0.7-0.1h0.1c1 0 2-0.2 2.8-0.6l124.6-22.4v-0.1c4.4-0.8 8.6-2.9 11.9-6.3l274.2-274.2c8.9-8.9 8.9-23.3 0-32.2zM613.9 851.1l-56 10.1 8.4-58.4 247.2-247.2 48 48-247.6 247.5z m0 0M671.3 589c-35.5-23.6-75-41.6-117.7-51.9 82.9-34.1 141.6-115.5 141.6-210.5C695.2 201 593 98.9 467.4 98.9c-125.6 0-227.8 102.1-227.8 227.7 0 95 58.6 176.4 141.5 210.5-162 39-283 184.8-283 358.7 0 14.2 11.6 25.8 25.8 25.8 14.3 0 25.8-11.6 25.8-25.8 0-175.2 142.6-317.7 317.7-317.7 61 0 117.9 17.6 166.4 47.6l37.5-36.7z m-380-262.4c0-97.1 78.9-176.1 176.1-176.1 97.1 0 176.1 79 176.1 176.1s-79 176.1-176.1 176.1c-97.2 0-176.1-79-176.1-176.1z m0 0"
                p-id="6886"></path>
              <path
                d="M898.1 873H708.6c-14.3 0-25.8 11.5-25.8 25.8 0 14.2 11.5 25.8 25.8 25.8h189.6c14.3 0 25.8-11.6 25.8-25.8 0-14.3-11.6-25.8-25.9-25.8z"
                p-id="6887"></path>
            </svg>
            <p>Web Designer</p>
          </div>

          <div class="title-with-icon">
            <svg
              class="icon"
              viewBox="0 0 1024 1024"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
            >
              <path
                d="M426.666667 458.197333V810.666667a128 128 0 1 1-85.333334-120.746667V256a42.666667 42.666667 0 0 1 30.421334-40.874667l426.666666-128A42.666667 42.666667 0 0 1 853.333333 128v554.666667a128 128 0 1 1-85.333333-120.746667V185.386667l-341.333333 102.4v81.152l222.122666-68.352a42.666667 42.666667 0 1 1 25.088 81.578666L426.666667 458.197333zM298.666667 853.333333a42.666667 42.666667 0 1 0 0-85.333333 42.666667 42.666667 0 0 0 0 85.333333z m426.666666-128a42.666667 42.666667 0 1 0 0-85.333333 42.666667 42.666667 0 0 0 0 85.333333z"
                fill="#545454"
                p-id="10592"></path>
            </svg>
            <p>Tenor</p>
          </div>
          <div class="title-with-icon">
            <svg
              class="icon"
              viewBox="0 0 1024 1024"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
            >
              <path
                d="M880.94 867.76H143.06C99.46 867.76 64 832.3 64 788.7V367.06c0-43.6 35.46-79.06 79.06-79.06H265.5c10.83 0 20.45-6.5 24.46-16.57l26.2-65.5c12.08-30.19 40.89-49.69 73.41-49.69h244.87c32.52 0 61.33 19.51 73.41 49.69l26.2 65.5c4.01 10.06 13.63 16.57 24.46 16.57h122.44c43.6 0 79.06 35.46 79.06 79.06v421.65c-0.01 43.59-35.47 79.05-79.07 79.05zM143.06 340.71c-14.53 0-26.35 11.82-26.35 26.35v421.65c0 14.53 11.83 26.35 26.35 26.35h737.88c14.53 0 26.35-11.82 26.35-26.35V367.06c0-14.53-11.83-26.35-26.35-26.35H758.51c-32.52 0-61.33-19.51-73.41-49.7l-26.2-65.5c-4.01-10.06-13.63-16.56-24.46-16.56H389.56c-10.83 0-20.45 6.5-24.46 16.56L338.9 291c-12.08 30.19-40.89 49.7-73.41 49.7H143.06z"
                fill="#545454"></path>
              <path
                d="M512 762.35c-101.72 0-184.47-82.75-184.47-184.47S410.28 393.41 512 393.41s184.47 82.75 184.47 184.47S613.72 762.35 512 762.35z m0-316.23c-72.65 0-131.76 59.11-131.76 131.76 0 72.66 59.11 131.76 131.76 131.76s131.76-59.11 131.76-131.76c0-72.65-59.11-131.76-131.76-131.76zM274.82 419.76H169.41c-14.55 0-26.35-11.8-26.35-26.35s11.8-26.35 26.35-26.35h105.41c14.55 0 26.35 11.8 26.35 26.35s-11.79 26.35-26.35 26.35z"
                fill="#545454"></path>
            </svg>
            <p>Photographer</p>
          </div>
        </div>
        <div class="aboutme4-me-bottom">
          <a href="https://www.linkedin.com/in/xiongwenouyang/"
            ><Image src={linkedin} alt="linkedin" width="24" height="24" /></a
          >
          <a href="https://github.com/owen7460"
            ><Image src={github} alt="github" width="24" height="24" /></a
          >
          <a href="https://www.instagram.com/owenouyang/"></a>
        </div>
      </div>
      <div class="content">
        <h2>About AI and the Future of Work</h2>
        <hr class="decorationLine" />
        <p>
          Many talk about the threats AI might bring, but humans have an edge
          when it comes to emotions—something AI just can’t fully grasp.
          Instead, AI becomes an incredible helper: it can quickly generate a
          bunch of options, letting us make better decisions in a fraction of
          the time and work more efficiently. As developers, we’ll use AI more
          and more, tapping into it from a higher perspective to really unlock
          its potential.
        </p>
      </div>
      <div class="aboutme4-contactme">
        <p>Owen is open to new opportunities.</p>
        <p>Contact Me:</p>
        <p>
          Email: <a href="mailto:ouyangxiongwen@gmail.com"
            >ouyangxiongwen@gmail.com</a
          >
        </p>
        <p>Phone: +1 368-999-2887</p>
        <p>
          LinkedIn: <a href="https://www.linkedin.com/in/xiongwenouyang/"
            >Owen-Ouyang</a
          >
        </p>
      </div>
    </div>
  </section>

  <style lang="scss">
    :root {
      --background-color: #efefef;
      --text-color: #545454;
    }

    @mixin scroll-snap-section {
      scroll-snap-align: start;
      width: 100vw;
      height: 100vh;
    }

    @mixin content-title {
      font-size: 3.2rem;
      font-weight: 100;
      margin-bottom: 1rem;
      letter-spacing: 1px;
      color: #545454;
    }

    @mixin content-subtitle {
      font-size: 1.6rem;
      font-weight: 300;
      margin-bottom: 3rem;
      letter-spacing: 0.6px;
      color: #545454;
    }

    @mixin content-text {
      font-weight: 300;
      font-size: 1.2rem;
      letter-spacing: 0.6px;
      line-height: 1.8rem;
      color: #545454;
    }

    .decorationLine {
      width: 10rem;
      height: 0.2px;
      background-color: #545454;
      border: none;
      margin: 0;
      margin-bottom: 1.2rem;
    }

    main {
      scroll-snap-type: y mandatory;
      overflow: scroll;
      height: 100vh;
    }

    #aboutme1 {
      @include scroll-snap-section;
      position: relative;
      z-index: 0;
      background-color: var(--background-color);

      #piano {
        position: absolute;
        object-fit: cover;
        object-position: center;
        top: 11%;
        left: 13%;
        border-radius: 1rem;
        z-index: 5;
      }

      #picker {
        position: absolute;
        object-fit: cover;
        object-position: center;
        top: 14%;
        left: 50%;
        z-index: 4;
      }

      .content {
        background-color: rgba(255, 255, 255, 0.35);
        box-shadow: 1px 1px 10px 0 rgba(46, 46, 46, 0.3);
        border-radius: 1rem;
        backdrop-filter: blur(55px);
        width: 750px;
        z-index: 10;
        position: absolute;
        top: 38%;
        left: 45%;

        padding: 4rem 3rem;
        h2 {
          @include content-title;
        }
        h3 {
          @include content-subtitle;
        }
        p {
          @include content-text;
        }
      }
    }

    #aboutme2 {
      @include scroll-snap-section;
      background-color: var(--background-color);
      position: relative;
      z-index: -10;

      .skills {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        padding-top: 4rem;

        .skillsBento {
          padding: 2rem;
          width: 56rem;
          height: 50rem;
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          grid-template-rows: repeat(5, 1fr);
          gap: 1.8rem;

          #tailwindcss {
            border-radius: 0;
          }

          #expressjs {
            border-radius: 0;
          }

          div {
            background-color: #fff;
            padding: 1.8rem;
            border-radius: 1rem;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
            position: relative;

            &:before,
            &:after {
              content: "";
              top: 50%;
              left: 50%;
              width: 100%;
              height: 100%;
              position: absolute;
              transform: translate(-50%, -50%);
              background-image: conic-gradient(
                from 180deg,
                #d71b1b,
                #e2c41b,
                #37d410,
                #17d1ce,
                #278ebd,
                #275da3,
                #a846d6,
                #d646be,
                #3ed676,
                #57c716,
                #a33895,
                #d71b1b
              );
              border-radius: 1rem;
              z-index: -5;
            }
            &:before {
              filter: blur(1.5rem);
              opacity: 0.4;
            }
          }

          img {
            border-radius: 1rem;
            height: 64px;
            width: auto;
            object-fit: cover;
            object-position: center;
          }

          .item1 {
            grid-column: 1 / span 3;
            grid-row: 1 / span 2;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 0 2rem;
          }
          .item2 {
            grid-column: 4 / span 2;
            grid-row: 1 / span 2;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 0 2rem;
          }

          .item3 {
            grid-column: 1 / span 3;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 0 2rem;
          }

          .item4 {
            grid-column: 4 / span 2;
            grid-row: 3 / span 2;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 2.6rem;
          }

          .item5 {
            grid-column: 1 / span 3;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 2.4rem;
          }
        }

        .content {
          padding-bottom: 10rem;
          max-width: 450px;
          h2 {
            @include content-title;
            margin-bottom: 3rem;
          }
          p {
            margin-top: 4rem;
            @include content-text;
          }
        }
      }
    }
    #aboutme3 {
      @include scroll-snap-section;
      .desert-bg {
        position: relative;
        height: 100vh;
        background:
          radial-gradient(
            circle at 70% 20%,
            rgba(255, 230, 180, 0.6),
            transparent 40%
          ),
          linear-gradient(to bottom, #f5e6c8, #eac38a, #d8a35c, #b87a3c);

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 220px;
          background: linear-gradient(
            to bottom,
            #e1e1e1,
            rgba(225, 225, 225, 0)
          );
          pointer-events: none;
          z-index: 5;
        }

        .path {
          position: absolute;
          inset: 0;
          width: 110%;
          left: -10%;
          height: 100%;
          stroke-dasharray: 1000;
          stroke-dashoffset: 1000;
          opacity: 0;
          animation: opacity 0.3s ease-out;

          &.animate {
            animation: drawPath 3s ease-in-out forwards;
            opacity: 1;
          }
        }

        @keyframes drawPath {
          to {
            stroke-dashoffset: 0;
          }
        }
      }

      .products {
        position: absolute;
        top: 20%;
        left: 20%;
        z-index: 10;
        max-width: 850px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
        h2 {
          @include content-title;
        }
        p {
          @include content-text;
        }
      }
    }
    #aboutme4 {
      @include scroll-snap-section;

      position: relative;
      z-index: 10;
      background-color: #9128bb;
      background:
        radial-gradient(
          closest-side,
          rgba(235, 105, 78, 1),
          rgba(235, 105, 78, 0)
        ),
        radial-gradient(
          closest-side,
          rgba(243, 11, 164, 1),
          rgba(243, 11, 164, 0)
        ),
        radial-gradient(
          closest-side,
          rgba(254, 234, 131, 1),
          rgba(254, 234, 131, 0)
        ),
        radial-gradient(
          closest-side,
          rgb(170, 142, 254, 1),
          rgba(170, 142, 245, 0)
        ),
        radial-gradient(
          closest-side,
          rgb(248, 131, 124, 1),
          rgba(248, 192, 147, 0)
        );
      background-size:
        130vmax 130vmax,
        80vmax 80vmax,
        90vmax 90vmax,
        110vmax 110vmax,
        90vmax 90vmax;
      background-position:
        -80vmax -80vmax,
        60vmax -30vmax,
        10vmax 10vmax,
        -30vmax -10vmax,
        50vmax 50vmax;
      background-repeat: no-repeat;
      animation: move 20s linear infinite;

      &::after {
        content: "";
        position: absolute;
        z-index: -5;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
      }

      background-color: var(--background-color);
      display: flex;
      justify-content: center;
      align-items: center;

      @keyframes move {
        0%,
        100% {
          background-size:
            130vmax 130vmax,
            80vmax 80vmax,
            80vmax 90vmax,
            110vmax 110vmax,
            90vmax 90vmax;
          background-position:
            -80vmax -80vmax,
            60vmax -30vmax,
            10vmax 10vmax,
            -30vmax -10vmax,
            50vmax 50vmax;
        }

        25% {
          background-size:
            40vmax 40vmax,
            110vmax 110vmax,
            20vmax 20vmax,
            30vmax 30vmax,
            110vmax 110vmax;
          background-position:
            -20vmax -20vmax,
            90vmax 90vmax,
            50vmax 50vmax,
            50vmax 30vmax,
            10vmax 30vmax;
        }
        50% {
          background-size:
            10vmax 10vmax,
            110vmax 110vmax,
            60vmax 70vmax,
            90vmax 90vmax,
            70vmax 70vmax;
          background-position:
            -80vmax -80vmax,
            60vmax -30vmax,
            10vmax 10vmax,
            -30vmax -10vmax,
            50vmax 50vmax;
        }

        75% {
          background-size:
            10vmax 10vmax,
            20vmax 20vmax,
            30vmax 30vmax,
            -90vmax -90vmax,
            50vmax 50vmax;
          background-position:
            -10vmax -50vmax,
            110vmax 110vmax,
            30vmax 40vmax,
            130vmax 10vmax,
            30vmax 30vmax;
        }
      }

      .aboutme4-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 2rem;

        width: 1200px;
        height: 700px;

        @mixin box {
          background-color: rgba(255, 255, 255, 0.35);
          box-shadow: 1px 1px 10px 0 rgba(46, 46, 46, 0.3);
          border-radius: 1rem;
          backdrop-filter: blur(55px);
          border-radius: 1rem;
          padding: 2rem;
          color: var(--text-color);
        }

        .aboutme4-me {
          @include box;
          grid-row: 1 / span 3;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .aboutme4-me-top {
            h3 {
              margin-top: 0;
              font-size: 2.2rem;
              font-weight: 100;
            }
            .title-with-icon {
              display: flex;
              align-items: center;
              gap: 0.5rem;
              margin-bottom: 1rem;

              .icon {
                flex-shrink: 0;
                width: 24px;
                height: 24px;
                fill: #545454;
              }

              p {
                margin: 0;
              }
            }
          }
          .aboutme4-me-bottom {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 1rem;
          }
        }
        .content {
          @include box;
          grid-column: 2 / span 2;
          grid-row: 1 / span 2;
          h2 {
            @include content-title;
            margin-top: 0;
          }
          p {
            @include content-text;
          }
        }
        .aboutme4-contactme {
          @include box;
          grid-column: 2 / span 2;
          grid-row: 3 / span 1;
          a {
            text-decoration: none;
            color: var(--text-color);
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  </style>

  <script>
    const path = document.querySelector(".path");

    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            path?.classList.add("animate");
            observer.unobserve(entry.target);
          }
        });
      },
      { threshold: 0.1 },
    );

    observer.observe(path!);
  </script>
</main>
