---

---

<div class="blendbetterSection">
  <div class="content">
    <h2>Blendbetter</h2>
    <p>
      An AI-powered web app that recommends better smoothie combinations by
      suggesting fruit pairings based on taste and nutrition.
    </p>
    <p>
      Full-stack project, built with Next.js, TypeScript, Tailwind CSS, and
      Shadcn UI.
    </p>
    <div class="options">
      <a href="https://nextjs-blendbetter.vercel.app" target="_blank"
        >View Project</a
      >

      <a href="https://github.com/owen7460/nextjs-blendbetter">More Details</a>
    </div>
  </div>
</div>

<style lang="scss">
  .blendbetterSection {
    margin-top: 50px;
    position: relative;
    z-index: 0;
    width: 100%;
    height: 700px;
    background-image: url("/BlendbetterBG.jpg");
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
    color: #fff;

    .content {
      position: absolute;
      top: 26%;
      left: 20%;
      width: 400px;
      padding: 2rem;
      display: flex;
      justify-content: center;
      align-items: left;
      flex-direction: column;
      gap: 0.8rem;

      h2 {
        font-size: 2.8rem;
        font-weight: bold;
        margin: 0;
        letter-spacing: 1px;
      }
      .options {
        margin-top: 1rem;
      }
      p {
        font-size: 1rem;
        letter-spacing: 0.4px;
        line-height: 1.4;
      }
      a {
        text-decoration: none;
        color: #fff;
        padding: 0.6rem 1rem;
        border-radius: 26px;
        margin-right: 1rem;
        border: 1px solid #fff;
      }
      a:hover {
        background-color: #fff;
        color: #555555;
      }
    }
  }
</style>
