---

---

<div class="noirroseSection">
  <div class="content">
    <h2>Noir Rose</h2>
    <p>
      Noir Rose is a press-on nails brand website designed to showcase the brand
      identity and product collections, while providing a smooth and intuitive
      online shopping experience for customers.
    </p>
    <p>Built with Wordpress, Elementor, and WooCommerce.</p>
    <div class="options">
      <a href="https://noir-rose.shop" class="viewProject" target="_blank"
        >View Project</a
      >
      <!-- <a href="">More Details</a> -->
    </div>
  </div>
</div>

<style lang="scss">
  .noirroseSection {
    margin-top: 30px;
    position: relative;
    z-index: 0;
    width: 100%;
    height: 700px;
    background-image: url("/noirrose-BG.png");
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;
    color: #fff;
  }

  .content {
    position: absolute;
    top: 10%;
    right: 1%;
    width: 350px;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    gap: 0.8rem;

    h2 {
      font-size: 2.8rem;
      font-weight: bold;
      margin: 0 0 2rem 0;
      letter-spacing: 1px;
    }
    p {
      font-size: 1rem;
      letter-spacing: 0.4px;
      line-height: 1.4;
    }
    .options {
      margin-top: 1.2rem;
    }
    a {
      text-decoration: none;
      color: #fff;
      padding: 0.6rem 1rem;
      border-radius: 26px;
      margin-right: 1rem;
      border: 1px solid #fff;
    }
    a:hover {
      background-color: #fff;
      color: #545454;
    }
  }
</style>
